# Binaries for programs and plugins
sensu-pagerduty-handler
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep
vendor/

# deploy
bonsai/
dist/

# IDE's
.idea/