language: go
go:
- 1.10.x
install:
- go get gopkg.in/alecthomas/gometalinter.v1
- go get github.com/gordonklaus/ineffassign
- go get github.com/jgautheron/goconst/cmd/goconst
- go get github.com/kisielk/errcheck
- go get github.com/golang/dep/cmd/dep
- dep ensure
script:
- gometalinter.v1 --vendor --disable-all --enable=vet --enable=ineffassign
  --enable=goconst --tests ./...
- go test -v -race ./...

before_script:
- echo "REPO $TRAVIS_REPO_SLUG TAG ${TRAVIS_TAG}"

before_deploy:
- go get github.com/goreleaser/goreleaser

deploy:
  - #goreleaser
    provider: script
    script: goreleaser
    skip_cleanup: true
    on:
      tags: true

after_deploy:
  - git clone https://github.com/sensu/sensu-go-bonsai-asset.git bonsai
  - bonsai/generate-sha512sum.sh
  - bonsai/github-release-upload.sh github_api_token=$GITHUB_TOKEN repo_slug="$TRAVIS_REPO_SLUG" tag="${TRAVIS_TAG}" filename="dist/$(cat dist/sha512_file)"

env:
  global:
  - secure: Q8tnVdTCwpw5FeJPHRpIVTK7UgOJv3Y3Y98lll2zNHTTCiF2nqdU7OffJG4NWO5vHX6SYxzxu+mwB94C60y3l1ijv116Kwf5w5pGALyewaFTWdZD8fX1aryBKWKOGIU3/WkQSikYdzWhfTR5Hc+vomFMbWtWg0TJO8SDCjLJrXWA3QoVZX8Gc0d/uNuNvnx4F6ms0i8iB/Rt7eYWofGEIbpR3gmJ6Ej38NyDPhItvqdoA0+WoijR30phdgFFGHa9sl4GUC7hAUAZT7fI6nCKaSPmDfxE4XtaNpPop/6mgVBGTJis2IcW5G01ndXEucPId9dgumf7J021KM5lF3vA1EajgZ4ixWdkfzuUupdfUAJbQTC8mC92LQum8UeqiojekUq1+Qt3EvKGntSUORoEQcU/dNDdS5U53MqLQnPjG5bnAl+SW7b9leholhr6n34axrjXqmz2lwVV9TRRWSvixyENE9z/Ya+mA4AEM1vI+4vrobCUWPNs2Sy3yNprh2FEgyRl1J9s/mXRy/L5m8wSMT9aJEyrnnh6VVn3w0aY7y3LFz/ZQseGqIr7aAS5v9jxXMGBznUeTMLFdesrPuoZcn69Tz9OxZ1urYeq4pwdcSjYPoI1Q3yV+yzGXHZ6KduIlptYUh5dPEn9+uyRt1WT8USer6FLKvlNjrPaYlfp0x0=
